header.header 
    .container
        .header__inner
            .logo KEKS
                //- +logo('logo') 
            .nav
                .nav__link 
                    li
                        a(href="/index.html") HOME
                    li
                        a(href="/about.html") ABOUT 
                    li
                        a(href="/contacts.html") CONTACTS
