extends ../layout/contacts
block title 
    |Contacts

block content
    p +7 777 777 77
    p example@pochta.com 
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20345.91583345375!2d77.55557750380713!3d67.72703393936574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1682002184226!5m2!1sru!2sru' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
