include ../pug/libs/_libs.pug


doctype html
html(lang='en')
    include ../pug/_head.pug
    body
        include ../pug/_header
        include ../pug/_main
        include ../pug/_footer
                          
